@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.sliderOrbit{
  margin-top: -600px;
  background-color: white;
  opacity: .6;
}

.imgback{
  background: #fff;
}
.entrada{
  background-color: white;
  opacity: .6;
}

.elSlide{
  margin-top: -90px;
}

.logo{
  width: 250px;
  height: 75px;
}

.navlinks{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #fff;
}

.navlinks:hover{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #fff;
}

.navlis{
  margin-top: 10px;
  margin-right: 50px;
}

.navlis:hover{
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #fff;
}

/****************************
*********** BODY **********
****************************/

.asamb{
  margin-left: 100px;
}

.info{
  margin-top: 50px;
}

.h1s{
  font-family: 'Open Sans Condensed', sans-serif;
}

  .modalAsamb{
    margin-left: 100px;
  }

  .parragraphs{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-left: 30px;
  }

hr{
  width: 95%;
}

.program{
  margin-top: 100px;
}
